{% extends "base_layout.html" %}
{% block content%}

<h1>Data Center Services Status</h1>
    <table border="0" style="width:100%">
        <tr>
            <td>
    <table border="1" style="width:100%">
        <tr>
            <th><div class="left">Item</div></th>
            <th>Health</th>
        </tr>
        {% for n in data[0] %}
        <tr>
            <td>{{n['name']}}</td>
            <td bgcolor="{{n['bgcolor']}}"><div class="center"><font color="white">{{n['health']}}</font></div></td>
        </tr>
        {% endfor %}
    </table></td><td></td><td></td>
            <td>
    <table border="1" style="width:100%">
        <tr>
            <th><div class="left">Item</div></th>
            <th>Health</th>
        </tr>
        {% for n in data[1] %}
        <tr>
            <td>{{n['name']}}</td>
            <td bgcolor="{{n['bgcolor']}}"><div class="center"><font color="white">{{n['health']}}</font></div></td>
        </tr>
        {% endfor %}
    </table>
                </td></tr></table>

<div id="hostname"><p>Processed by {{ hostname }}</p></div>

{% endblock %}